@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
fieldset, img, input, button { 
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none; 
}
 
ul, ol {
    list-style: none; 
}
 
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}
 
select, input {
    vertical-align: middle;
}
 
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
 
textarea {
    resize: none;
}
 
img {
    border: 0;
    vertical-align: middle; 
}
 
table {
    border-collapse: collapse;
}
 
body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff;
}
 
.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.clearfix:after {
    clear: both;
} 

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
 
s, i, em {
    font-style: normal; 
    text-decoration: none;
}
 
.color-red {
    color: #C81623 !important; 
}
 
/*公共类*/
 
.fl {
    float: left;
}
 
.fr {
    float: right;
}
 
.al {
    text-align: left;
}
 
.ac {
    text-align: center;
}
 
.ar {
    text-align: right;
}
 
.hide {
    display: none;
}
