@import "~antd/dist/antd.css";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e7ebf0;
}

.toolbar {
  background: #393b99;
  padding: 8px 16px;
  text-align: right;
}

.main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

.button {
  border: none;
  background: #fff;
  padding: 4px 16px;
  font-size: 12px;
  color: #2b2b2b;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.button + .button {
  margin-left: 12px;
}

/* 侧边栏部分 */
.sider {
  width: 180px;
  background: #fff;
  padding: 12px;
}

.sider .nodes {
  margin-bottom: 20px;
}

.sider .sider-node {
  font-size: 14px;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.sider .sider-node.input-node {
  border-color: #0041d0;
}

.sider .sider-node.relation-node {
  border-color: #0041d0;
}

.sider .sider-node.output-node {
  border-color: #ff0072;
}

.sider .print {
  text-align: left;
  font-size: 12px;
}

.print .print-line {
  margin-bottom: 4px;
}

.print .print-list {
  margin: 0;
  padding: 0;
}

.print .print-item {
  list-style: none;
  padding-left: 8px;
  position: relative;
  margin-bottom: 2px;
}

.print .print-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 4px;
  height: 4px;
  background-color: #2b2b2b;
}

.print .print-item-tips {
  color: #9c9ca9;
  padding: 0 2px;
}

/* 画布部分 */
.graph {
  flex: auto;
}

.graph .relation-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px;
  border: 1px solid #405a32;
}

.graph .relation-node:hover {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 8%);
}

.graph .relation-node-title {
  font-size: 12px;
  flex: auto;
  padding: 0 12px;
}

.graph .relation-node-btn {
  border: none;
  box-shadow: none;
}

.graph .relation-node-btn:hover {
  opacity: 0.7;
}

.linkedge-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkedge-card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0fd;
  border: 1px solid #c3c4dd;
  border-radius: 4px;
  padding: 6px 14px;
  text-align: center;
  height: 52px;
}

.linkedge-card-item__icon {
  padding: 0 8px;
}

.linkedge-card-item__title {
  font-weight: 600;
  font-size: 14px;
  color: #393b99;
}

.linkedge-card-item__tips {
  color: #9e9faf;
  font-size: 12px;
}
